body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
       }

main{
    margin-right: 20em;
    margin-left: 20em;
}

#logo{
    width: 20%;
    margin-right: 32em;
    margin-left: 32em;
    }

#primo{
    margin-right: 42em;
    margin-left: 42em;
    font-size: 12px;
    background-color: beige;
}

.negrito{
    font-weight: bolder;
    text-transform: uppercase;
    font-size:12px;
}

.foto{
    border-style:groove;
}
    
h1{
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
}

figcaption{
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.colore-rosso{
    text-transform: uppercase;
    color:red;
    font-size:12px;
    font-weight:bolder;
}

.colore-blu{
    text-decoration: underline;
    color: blue;
    font-size: 12px;
    font-weight: bold;
}


h2{
    padding-top: 20px;
}

li{
    line-height:1.0cm;
}

.testo{
    margin-left: 35px;
}


